[build]
builder = "NIXPACKS"

[deploy]
startCommand = "gunicorn app:app -c gunicorn.conf.py"
healthcheckPath = "/health"
healthcheckTimeout = 10
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
